<div class="example-container mat-elevation-z8">
  <h1>Giocatori</h1>
  
  <div class="card-list">
    <div *ngFor="let element of dataSource.data" class="card">

      <div class="card-header">
        <img [src]="element.avatar" alt="Avatar" class="avatar">
      </div>
      <div class="card-body">
        <p><strong>Nome:</strong> {{element.nome}}</p>
        <p><strong>Cognome:</strong> {{element.cognome}}</p>
        <p><strong>Motto:</strong> {{element.motto}}</p>
      </div>
    </div>
  </div>
</div>