/* Lista di card */
.card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
  }
  
  .card {
    background-color: #ffebcd;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 20px;
    width: 300px;
  }
  
  .card-header {
    /*background-color: #ffcc00;
    border-bottom: 2px solid #ffcc00;*/
    border-radius: 10px 10px 0 0;
    padding: 10px;
    text-align: center;
  }
  
  .card-body {
    padding: 10px;
  }
  
  .card-body p {
    margin: 10px 0;
  }

  .avatar {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid #ff6600;
  }