<div class="home-page">
    <h1>Welcome to MeepleWars</h1>
  
    <div class="tables-container">
      <app-played-matches></app-played-matches>
      <app-user-table></app-user-table>
      <app-game-table></app-game-table>
    </div>

    <h2>Funzionalità in arrivo</h2>
    <p>
      Funzionalità
      1) Tracciamento delle Partite:

      Inserire data, giocatori, punteggi, durata e gioco giocato.
      Aggiungere note personali o momenti salienti della partita.
      Statistiche:

      1) Mostrare classifiche globali o per gioco specifico.
      Tracciare percentuali di vittorie e sconfitte per giocatore.
      Tempi medi di gioco e tendenza dei punteggi.
      Gestione dei Giocatori:

      1) Creare profili per i giocatori con foto e bio.
      Permettere di assegnare un ruolo (es. "Campione di Ticket to Ride").
      Catalogo Giochi:

      1) Una sezione per elencare tutti i giochi disponibili, con descrizioni e regole.
      Collegare le partite registrate ai giochi specifici.
      Cronologia:

      1) Un feed o timeline con tutte le partite registrate.
      Sfide e Obiettivi:

      1) Impostare sfide personalizzate (es. "Gioca 10 partite di Catan").
      Badge per traguardi raggiunti.
      Dashboard Personale:

      1) Una sezione dove ogni giocatore può vedere le proprie statistiche e progressi.
      Integrazione con API:

      1) Usare API di BoardGameGeek per avere dati aggiornati sui giochi.
      Sezione Community:

      1) Forum o commenti per discutere strategie o condividere esperienze.
      Modalità Random:

      1) Una funzione per scegliere casualmente quale gioco giocare.
      Homepage
      La homepage potrebbe includere:

      1) Statistiche principali: Numero totale di partite, vincitore del mese, gioco più giocato.
      1) Prossimi eventi o sessioni di gioco: Un calendario con date pianificate.
      1) Partite recenti: Ultime partite registrate con dettagli rapidi.
      1) Classifica generale: I migliori giocatori o vincitori frequenti.
      1) Focus su un gioco: Una sezione in evidenza con dettagli su un gioco selezionato casualmente o più giocato.
    </p>
  </div>